.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    color: black; /* Definir a cor do texto como preto */

  }

  
  .campo {
    margin-bottom: 20px;
  }
  
  .descricao {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .titulo {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .box {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  .box.roxo {
    background-color: purple;
    color: #fff;
  }
  
  .allowFeedback {
    padding: 10px 20px;
    font-size: 16px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-criar:hover {
    background-color: #000099;
  }
  .btn-criar{
    position: absolute;
    bottom: 10px;
    right: 10px;
  
  }
  .check-label {
    display: flex;
    align-items: center;
  }
  
  .check-label.roxo {
    color: purple;

  }
  
  