

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/background_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.logo-login {
  display: block;
  margin: auto;
  max-width: 48%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: black;


}

.input-login {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}


.button-entrar {
  background-color: #7b66db;
  color: white;  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}



.signup-container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: black;

}

.signup-container-login p {
  margin: 0;
}

.signup-container-login a {
  color: #7b66db;
  text-decoration: underline;
}
