.button-card {
    color: black;
    background-color: transparent;
}

.button-card:hover {
    border-color: transparent
}

.div-button-card:hover {
    background-color: #c9cbd429;
    border-color: #c9cbd429
}

.myDecks-container {
    margin-right: 5rem;
    margin-left: 5rem;
}