.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
}
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: #292929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
    
  .signup-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container label {
    display: block;
    margin-bottom: 8px;
  }
  
  .signup-container input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #404040;
    color: #ffffff;
    margin-bottom: 16px;
    width: 95%;
  }
  
  .signup-container .form-field input[type="password"] {
    padding-right: 30px;
  }
  
  .signup-container .form-field input[type="text"]::after,
  .signup-container .form-field input[type="email"]::after,
  .signup-container .form-field input[type="password"]::after {
    content: '\f023';
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #808080;
    pointer-events: none;
  }
  
  .signup-container p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 14px;
  }
  
  .signup-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #7C66DC;
    color: #ffffff;
    cursor: pointer;
  }
  
  .signup-container button:disabled {
    background-color: #808080;
    cursor: not-allowed;
    margin-bottom: 16px;
  }
  
  